.photocont {
  height: 100%;
  .quilltitle {
    width: 100%;
    text-align: center;
  }
  .videocont {
    display: flex;
    justify-content: space-between;
    height: 50%;
    .left {
      width: 49%;
      height: 100%;
    }
    .right {
      width: 49%;
      box-sizing: border-box;
      border-left: 2px solid #efefef;
      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }
  .btn {
    text-align: center;
    margin-top: 5% !important;
    .ant-btn {
      width: 200px;
    }
  }
}
